Consider following code to answer further questions:

In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

**Q1. Write a code to print the data present in the second row of the dataframe, df.**

In [4]:
second_row_data = df.iloc[1]
print(second_row_data)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

**Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?**

In pandas, the functions `loc` and `iloc` are used to access and manipulate data in a DataFrame. However, they differ in their indexing methods:

1. `loc` function:
   - The `loc` function is primarily label-based, meaning it is used for indexing and accessing data based on the labels of rows and columns.
   - It takes in a label or a boolean array as input for indexing.
   - The indexing ranges are inclusive of both the start and end values.
   - When using `loc`, you refer to the row and column labels by their actual names.

2. `iloc` function:
   - The `iloc` function is primarily integer-based, meaning it is used for indexing and accessing data based on the integer positions of rows and columns.
   - It takes in an integer, a list of integers, or a boolean array as input for indexing.
   - The indexing ranges are exclusive of the end value, similar to Python slicing.
   - When using `iloc`, you refer to the row and column positions by their integer index values.

Here's an example to illustrate the difference between `loc` and `iloc`:

```python
import pandas as pd

# Create a sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data, index=['Row1', 'Row2', 'Row3'])

# Using loc
print(df.loc['Row2'])
# Output: A    2
#         B    5
#         C    8
#         Name: Row2, dtype: int64

# Using iloc
print(df.iloc[1])
# Output: A    2
#         B    5
#         C    8
#         Name: Row2, dtype: int64
```

In the example above, the DataFrame `df` has row labels 'Row1', 'Row2', and 'Row3'. The `loc['Row2']` and `iloc[1]` statements both access the second row of the DataFrame. The output of both statements is the same, displaying the values in the second row.

To summarize, the main difference between `loc` and `iloc` is that `loc` uses label-based indexing, while `iloc` uses integer-based indexing for accessing and manipulating data in a DataFrame.

**Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].**

In [6]:
new_df = df.reindex([3,0,1,2])
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [7]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [8]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Apologies for the incorrect information in my previous response. There is indeed a difference between the outputs of `new_df.loc[2]` and `new_df.iloc[2]`. Here's the updated explanation:

```python
import pandas as pd

# Given DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

# Reindexing
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

# Output for new_df.loc[2]
print(new_df.loc[2])
# Output: A    3
#         B    6
#         C    9
#         Name: 2, dtype: int64

# Output for new_df.iloc[2]
print(new_df.iloc[2])
# Output: A    2
#         B    5
#         C    8
#         Name: 1, dtype: int64
```

In the updated code, we reindexed the DataFrame `df` using the `reindex()` function with the `reindex` list `[3, 0, 1, 2]`. The resulting DataFrame `new_df` has a different row order based on the new index.

The difference between the outputs of `new_df.loc[2]` and `new_df.iloc[2]` is as follows:

- `new_df.loc[2]` retrieves the row with label `2` from the `new_df` DataFrame. In this case, the row label `2` corresponds to the original row at index position `2` in the `df` DataFrame. Therefore, the output displays the values `[3, 6, 9]` for columns A, B, and C, respectively.

- `new_df.iloc[2]` retrieves the row at integer position `2` from the `new_df` DataFrame. In this case, the integer position `2` corresponds to the original row at index position `1` in the `df` DataFrame. Therefore, the output displays the values `[2, 5, 8]` for columns A, B, and C, respectively.

The difference in the outputs is due to the different indexing methods used by `loc` and `iloc`. `loc` accesses rows based on labels, while `iloc` accesses rows based on integer positions.

**Consider the below code to answer further questions:**

In [10]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.153690  0.695600  0.708428  0.428890  0.497922  0.880717
2  0.059441  0.629948  0.951293  0.574327  0.501401  0.967613
3  0.939581  0.814055  0.977964  0.293212  0.227134  0.468847
4  0.077933  0.159233  0.476697  0.855900  0.912229  0.848191
5  0.674265  0.275650  0.160400  0.437095  0.007749  0.526301
6  0.305435  0.869024  0.068184  0.975616  0.878114  0.259204

In [12]:
mean = df1.mean()
std_column_2 = df1['column_2'].std()

print("Mean = ",mean)
print("Std = ",std_column_2)

Mean =  column_1    0.368391
column_2    0.573919
column_3    0.557161
column_4    0.594173
column_5    0.504092
column_6    0.658479
dtype: float64
Std =  0.29107635861139763

**Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.**
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [13]:
df1.loc[2, 'column_2'] = 'replacement'

In [16]:

mean_column_2 = df1['column_2'].mean()
print("Mean of column 'column_2':", mean_column_2)

TypeError: ignored

In the code above, we use df1.loc[2, 'column_2'] to access the element at the second row and 'column_2' and replace it with a string variable of our choice ('replacement' in this case).

However, you may encounter an error when calculating the mean of 'column_2' after replacing the data with a string variable. The error occurs because the column contains mixed data types (numeric and string), and pandas is unable to calculate the mean when the column has non-numeric values.

To handle this situation, you can convert the column to a numeric data type before calculating the mean. Here's an updated code snippet that includes the conversion:

In [17]:
# Replace data in the second row of 'column_2' with a string variable
df1.loc[2, 'column_2'] = 'replacement'

# Convert 'column_2' to numeric data type
df1['column_2'] = pd.to_numeric(df1['column_2'], errors='coerce')

# Calculate mean of 'column_2'
mean_column_2 = df1['column_2'].mean()
print("Mean of column 'column_2':", mean_column_2)

Mean of column 'column_2': 0.5627125371348176

**Q6. What do you understand about the windows function in pandas and list the types of windows functions?**

In pandas, the window functions are used to perform calculations on a specified window or group of data points. These functions are especially useful for time series analysis, rolling computations, and analyzing data within a fixed-size window.

There are several types of window functions available in pandas:

1. `rolling()`: This function is used to create a rolling window object over a Series or DataFrame. It allows you to perform various rolling computations, such as calculating the rolling mean, sum, minimum, maximum, standard deviation, etc. The rolling window moves along the data, including a specific number of preceding values based on the window size.

2. `expanding()`: The expanding function is used to calculate the expanding window statistics. It starts from the beginning of the data and includes all the preceding values up to the current position. As the data expands, calculations such as cumulative sum, cumulative product, cumulative maximum, cumulative minimum, etc., can be performed.

3. `ewm()`: The exponentially weighted moving window function is used to compute exponentially weighted statistics. It assigns weights to data points based on their relative position within the window. More weight is given to recent data points, and the influence of older data points gradually diminishes. This function is useful for calculating exponentially weighted moving averages, variances, and correlations.

These window functions provide flexible ways to analyze data within a specific window size, allowing you to gain insights into trends, patterns, and statistical properties over time or across a dataset.

**Q7. Write a code to print only the current month and year at the time of answering this question.**

In [21]:
import pandas as pd
current_date = pd.datetime.now()
current_month = current_date.month
current_year = current_date.year
print("Current month:", current_month)
print("Current year:", current_year)

Current month: 6
Current year: 2023

<ipython-input-21-8d4501485928>:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_date = pd.datetime.now()

**Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.**

In [5]:
import pandas as pd

date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

time_difference = date2 - date1

days_difference = time_difference.days
hours_diffrenece = time_difference.seconds // 3600
minutes_difference = (time_difference // 60) % 60

print("Difference between the dates:")
print("Days:", days_difference)
print("Hours:", hours_diffrenece)
print("Minutes:", minutes_difference)

Enter the first date (YYYY-MM-DD): 2023-06-01
Enter the second date (YYYY-MM-DD): 2023-06-05
Difference between the dates:
Days: 4
Hours: 0
Minutes: 0 days 00:00:00

**Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.**

Certainly! Here's a Python program that reads a CSV file containing categorical data, converts a specified column to a categorical data type, and displays the sorted data:

```python
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Prompt the user to enter the column name
column_name = input("Enter the column name to convert to categorical: ")

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated): ").split(",")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Convert the specified column to categorical data type with the specified order
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Sort the DataFrame based on the categorical column
df_sorted = df.sort_values(by=column_name)

# Display the sorted data
print("Sorted Data:")
print(df_sorted)
```

Example usage:
```
Enter the CSV file path: data.csv
Enter the column name to convert to categorical: category
Enter the category order (comma-separated): High,Medium,Low
Sorted Data:
   column_1 category
1         2     High
0         1   Medium
2         3      Low
```

In the code above, we prompt the user to enter the CSV file path, column name, and category order. The file is then read into a DataFrame using `pd.read_csv()`.

The specified column is converted to a categorical data type using `pd.Categorical()`, where the categories and order are defined based on the user input.

The DataFrame is sorted based on the categorical column using `df.sort_values()` and stored in a new DataFrame `df_sorted`.

Finally, the sorted data is displayed using `print()`.

**Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.**

Certainly! Here's a Python program that reads a CSV file containing sales data for different products, visualizes the data using a stacked bar chart to show the sales of each product category over time, and displays the chart:

```python
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Group the data by product category and calculate the total sales for each category over time
df_grouped = df.groupby('product_category')['sales'].sum()

# Reshape the data for plotting
df_plot = df_grouped.unstack()

# Plot the stacked bar chart
df_plot.plot(kind='bar', stacked=True)

# Set the labels and title
plt.xlabel('Time')
plt.ylabel('Sales')
plt.title('Sales of Each Product Category Over Time')

# Display the chart
plt.show()
```

Example usage:
```
Enter the CSV file path: sales_data.csv
```

In the code above, we prompt the user to enter the CSV file path. The file is then read into a DataFrame using `pd.read_csv()`.

The data is grouped by the product category using `groupby()` and the total sales for each category over time are calculated using `sum()`.

The grouped data is then reshaped for plotting using `unstack()`, which converts the data into a suitable format for a stacked bar chart.

We use `df_plot.plot(kind='bar', stacked=True)` to create a stacked bar chart of the sales data.

The labels and title for the chart are set using `plt.xlabel()`, `plt.ylabel()`, and `plt.title()`.

Finally, the chart is displayed using `plt.show()`.

**Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.**

Sure! Here's a Python program that reads a CSV file containing student data, calculates the mean, median, and mode of the test scores, and displays the results in a table:

```python
import pandas as pd

# Prompt the user to enter the file path of the CSV file containing the student data
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode()

# Create a table to display the results
results = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                        'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]})
print(results)
```

Example usage:
```
Enter the file path of the CSV file containing the student data: student_data.csv
```

In the code above, we prompt the user to enter the file path of the CSV file containing the student data. The file is then read into a Pandas DataFrame using `pd.read_csv()`.

We calculate the mean, median, and mode of the test scores using the appropriate functions available in Pandas: `.mean()`, `.median()`, and `.mode()`. The mode scores are stored in a Pandas Series, and we convert them to a comma-separated string using `', '.join(map(str, mode_scores))`.

Finally, we create a new DataFrame called `results` using a dictionary where the keys are the statistics ('Mean', 'Median', 'Mode') and the values are the corresponding calculated values. We then display the results DataFrame using `print()`. The output is a table showing the statistics and their values.