**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [1]:
import pandas as pd

In [3]:
data=[4, 8, 15, 16, 23, 42]

In [5]:
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.**

In [6]:
data=[10,20,30,40,50,60,70,80,90,100]
series=pd.Series(data)
print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

**Q3. Create a Pandas DataFrame that contains the following data:
Then, print the DataFrame.**

In [7]:
data={
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27], 
    'Gender': ['Female', 'Male', 'Female']
}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a table in a spreadsheet with rows and columns, where each column can be of a different data type (e.g. integer, float, string, etc.). A DataFrame can be created from a variety of data sources, including CSV files, Excel spreadsheets, Python dictionaries, and other Pandas data structures.

On the other hand, a Series is a one-dimensional labeled array that can hold data of any type (e.g. integer, float, string, etc.). It can be thought of as a single column of a DataFrame.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [8]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

name_series = df['Name']

print('DataFrame:')
print(df)

print('\nSeries:')
print(name_series)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?**

head() and tail(): These functions can be used to view the first or last few rows of a DataFrame, respectively. They are useful for quickly inspecting the data in a DataFrame.

describe(): This function provides a summary of descriptive statistics for each column in the DataFrame, such as the count, mean, standard deviation, minimum, maximum, and quartile values. It is useful for getting a quick overview of the data.

dropna(): This function removes any rows with missing values from the DataFrame. It is useful for cleaning up data with missing or incomplete values.

fillna(): This function fills in missing values in the DataFrame with a specified value or method. It is useful for handling missing data in a way that makes sense for the analysis.

groupby(): This function groups the data in the DataFrame by one or more columns and applies a function to each group. It is useful for aggregating and summarizing data by groups.

sort_values(): This function sorts the data in the DataFrame by one or more columns. It is useful for organizing the data in a way that makes sense for the analysis.

apply(): This function applies a function to each element or column in the DataFrame. It is useful for performing custom calculations or transformations on the data.

In [9]:
data={
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27], 
    'Gender': ['Female', 'Male', 'Female']
}
df=pd.DataFrame(data)
print(df)
print('\n head function')
print(df.head(1))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

 head function
    Name  Age  Gender
0  Alice   25  Female

**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**

Both Series and DataFrame are mutable in nature, which means that their values can be changed after they are created. However, Panel is an immutable data structure in Pandas, which means that its values cannot be changed once it is created. In fact, Panel has been deprecated in favor of using MultiIndex DataFrames, which are also mutable in nature.

**Q7. Create a DataFrame using multiple Series. Explain with an example.**

We can create a DataFrame using multiple Series by passing them as a dictionary to the pd.DataFrame() function. Each key in the dictionary represents the name of a column, and each value represents a Series of data for that column.

Here's an example of creating a DataFrame with multiple Series:

In [10]:
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

data={
    'names':names,
    "ages":ages,
    "genders":genders
}
df=pd.DataFrame(data)
print(df)

    names  ages genders
0   Alice    25  Female
1     Bob    30    Male
2  Claire    27  Female