**1.Explain with an example each when to use a for loop and a while loop.**

**For Loop** : A for loop is typically used when you know the excate number of time youo want to iterate over a block of code. the loop will automatically increment the counter varibale nand excute until the counter reaches the specified value

Example:

In [2]:
for i in range(5):
  print(i)

0
1
2
3
4

**While Loop** : while loop is used when you need to iterate until certine condition is met.  In this case, the loop will continue to execute as long as the specified condition evaluates to True.

Example:

In [4]:
i=5
while i<=10:
  print(i)
  i=i+1

5
6
7
8
9
10

**2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.**

Using for loop:

In [9]:
sum=0
product=1
for i in range(1,11):
  sum=sum+i
  product=product*i
print("Sum of the first 10 natural numbers using a for loop: ",sum)
print("Product of the first 10 natural numbers using a for loop : ",product)

Sum of the first 10 natural numbers using a for loop:  55
Product of the first 10 natural numbers using a for loop :  3628800

Using while loop :

In [10]:
i=1
sum=0
product=1
while i <=10:
  sum=sum+1
  product=product*i
  i=i+1

print("Sum of the first 10 natural numbers using a while loop: ",sum)
print("Product of the first 10 natural numbers using a while loop : ",product)

Sum of the first 10 natural numbers using a while loop:  10
Product of the first 10 natural numbers using a while loop :  3628800

**3.Create a python program to compute the electricity bill for a household.**

**The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.**

In [12]:
units=int(input("Enter the units of electricity consumed in a month: "))
if units<=100:
  charges=units*4.5
elif units<=200:
  charges=100 * 4.5 + (units - 100) * 6
elif units<=300:
  charges=100*4.5 + 100*6 +(units-200)*10
else:
  charges=100*4.5 + 100*6 +100*10+ (units-300)*20
print("The total electricity bill is:", charges)

Enter the units of electricity consumed in a month: 310
The total electricity bill is: 2250.0

**4.Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.**

Using for loop

In [25]:
numbers=list(range(1,101))
results=[]

for i in numbers:
  cube=i**3
  if cube %4 == 0 or cube % 5 == 0:
    results.append(i)

print(results)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Using while loop :

In [21]:
numbers=list(range(1,101))
results=[]

i=0
while i <len(numbers):
  cube=numbers[i]**3
  if cube % 4==0 or cube %5 == 0:
    results.append(numbers[i])
  i += 1

print(results)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

**5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"**

In [26]:
string="I want to become a data scientist"
vovels=["a","e","i","o","u"]
count=0
for i in string:
  if i in vovels:
    count=count+1
print(count)

11